$base-color: #f7f7f9;
$page-background: #0f0f2f;

$card-background: #151542;
$card-border: #222269;

$tag-background: #0f142f;

.about_page {
    background-color: $page-background;

    width: 100vw;
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;

    .about_wrapper {
        color: $base-color;
        width: 90vw;
        height: 40vw;
        max-width: 1280px;

        display: grid;
        grid-template-columns: repeat(12, 1fr); /* 12 flexible columns */
        grid-template-rows: repeat(12, 1fr);
        gap: 1rem;

        .card {
            background-color: $card-background;

            border-color: $card-border;
            border-style: solid;
            border-width: 2px;

            h3 {
                background-color: $tag-background;
                border: solid;
                border-width: 1px;
                border-radius: 10rem;

                font-size: 1rem;
                font-weight: 600;

                padding: 0.5rem;
                margin: 1rem;

                width: max-content;
            }
        }

        // .card:hover {
        //     background-color: #222269;
        // }

        .map_wrapper {
            border-radius: 1vw;
            grid-column: span 4;
            grid-row: span 6;

            .location_overlay {
                background-color: green;

                width: 200px;
                height: 200px;
                z-index: 100;
            }

            .leaflet-tile-pane {
                filter: invert(90%) grayscale(100%) sepia(100%) hue-rotate(202deg) saturate(4) contrast(1.2);
            }
        }

        .stack_skills_wrapper {
            border-radius: 1vw;

            grid-column: span 8;
            grid-row: span 4;
        }

        .call_to_action_wrapper {
            border-radius: 1vw;

            grid-column: span 2;
            grid-row: span 2;

            button {
                background-color: white;
                border-radius: 1vw;
                border-style: none;
            }
        }

        .typing_speed_wrapper {
            border-radius: 1vw;
            
            grid-column: span 4;
            grid-row: span 3;

            p {
                font-size: 4rem;
            }
        }

        .youtube_music_wrapper {
            border-radius: 1vw;

            grid-column: span 2;
            grid-row: span 3
        }

        .programming_languages_wrapper {
            border-radius: 1vw;

            grid-column: span 6;
            grid-row: span 6;
        }

        .github_commits_wrapper {
            border-radius: 1vw;

            grid-column: span 6;
            grid-row: span 5;
        }
    }
}