$base-color: #f7f7f9;
$page-background: #0f0f2f;

$card-background: #151542;
// $card-border: #222269;
$card-border: #4444c5;

$tag-background: #0f142f;

.about_page {
    background-color: $page-background;

    width: 100vw;
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;

    .about_wrapper {
        color: $base-color;
        width: 90vw;
        height: 40vw;
        max-width: 1280px;

        display: grid;
        grid-template-columns: repeat(12, 1fr); /* 12 flexible columns */
        grid-template-rows: repeat(12, 1fr);
        gap: 1rem;

        .card {
            background-color: $card-background;

            border-color: $card-border;
            border-style: solid;
            border-width: 2px;

            overflow: hidden;

            h3 {
                background-color: $tag-background;
                border: solid;
                border-width: 1px;
                border-radius: 10rem;

                font-size: 1rem;
                font-weight: 600;

                padding: 0.5rem;
                margin: 1rem 0rem 0rem 1rem;

                width: max-content;
            }
        }

        // .card:hover {
        //     background-color: #222269;
        // }

        .map_wrapper {
            border-radius: 1vw;
            grid-column: span 4;
            grid-row: span 6;

            h3 {
                position: absolute;
                z-index: 1000;
            }

            .location_overlay {
                background-color: green;

                width: 200px;
                height: 200px;
                z-index: 100;
            }

            .leaflet-tile-pane {
                filter: invert(90%) grayscale(100%) sepia(100%) hue-rotate(202deg) saturate(4) contrast(1.2) brightness(1);
            }

            .zoom_button {
                background-color: $card-background;
                border: 2px solid rgba(0, 0, 0, 0.2);
                border-color: $card-border;
                border-radius: 50%;

                bottom: 10px;
                color: white;
                cursor: pointer;

                font-size: 15px;
                font-weight: bold;
                position: absolute;

                width: 50px;
                height: 50px;
                z-index: 1000;

                transform: scale(1);
                transition: transform 0.3s ease;
            }

            .zoom_out {
                left: 10px;
            }

            .zoom_in {
                right: 10px;
            }

            .hidden {
                transform: scale(0);
                pointer-events: none;
            }
        }

        .stack_skills_wrapper {
            border-radius: 1vw;

            grid-column: span 8;
            grid-row: span 4;
        }

        .call_to_action_wrapper {
            border-radius: 1vw;

            grid-column: span 2;
            grid-row: span 2;

            button {
                background-color: white;
                border-radius: 1vw;
                border-style: none;
            }
        }

        .typing_speed_wrapper {
            color: inherit;
            text-decoration: none;
            cursor: pointer;
            outline: none;
            
            border-radius: 1vw;
            
            grid-column: span 4;
            grid-row: span 3;

            .typing_speed {
                margin-left: 0.5rem;

                display: flex;
                align-items: baseline;
                

                p:nth-child(1) {
                    font-size: 4rem;
                }

                p:nth-child(2) {
                    font-size: 2rem;
                }
            }

            .typing_stats {
                margin-left: 1rem;

                p {
                    font-size: 1.5rem;
                }
            }
        }

        .typing_speed_wrapper:hover{
            cursor: pointer;
        }

        .youtube_music_wrapper {
            border-radius: 1vw;

            grid-column: span 2;
            grid-row: span 3
        }

        .programming_languages_wrapper {
            border-radius: 1vw;

            grid-column: span 6;
            grid-row: span 6;
        }

        .github_commits_wrapper {
            border-radius: 1vw;

            grid-column: span 6;
            grid-row: span 5;
        }
    }
}