$base-color: #f7f7f9;
$page-background: #0f0f2f;
$card-background: #242441;

.about_page {
    background-color: $page-background;

    width: 100vw;
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;

    .about_wrapper {
        // background-color: red;
        color: $base-color;
        width: 90vw;
        height: 40vw;
        max-width: 1280px;

        display: grid;
        grid-template-columns: repeat(12, 1fr); /* 12 flexible columns */
        grid-template-rows: repeat(12, 1fr);
        gap: 1rem;

        .map_wrapper {
            background-color: blue;
            border-radius: 1vw;
            grid-column: span 4;
            grid-row: span 6;

            .location_overlay {
                background-color: green;

                width: 200px;
                height: 200px;
                z-index: 100;
            }
        }

        .stack_skills_wrapper {
            background-color: $card-background;
            border-radius: 1vw;

            grid-column: span 8;
            grid-row: span 4;
        }

        .call_to_action_wrapper {
            background-color: $card-background;
            border-radius: 1vw;

            grid-column: span 2;
            grid-row: span 2;

            button {
                background-color: white;
                border-radius: 1vw;
                border-style: none;
            }
        }

        .typing_speed_wrapper {
            background-color: $card-background;
            border-radius: 1vw;
            
            grid-column: span 4;
            grid-row: span 3;

            h3 {
                font-size: 4rem;
            }
        }

        .youtube_music_wrapper {
            background-color: $card-background;
            border-radius: 1vw;

            grid-column: span 2;
            grid-row: span 3
        }

        .programming_languages_wrapper {
            background-color: $card-background;
            border-radius: 1vw;

            grid-column: span 6;
            grid-row: span 6;
        }

        .github_commits_wrapper {
            background-color: $card-background;
            border-radius: 1vw;

            grid-column: span 6;
            grid-row: span 5;
        }
    }
}