@use 'sass:color';
@use 'sass:map';
@use 'sass:list';

$base-color: #f7f7f9;
$secondary-text-color: color.adjust($base-color, $lightness: -25%);
// $page-background: #0f0f2f;
$page-background: #0a0b20;

// $card-background: #151542;
$card-background: color.adjust($page-background, $lightness: 9%);
// $card-hover-background: #1a1a51;
$card-hover-background: #1b1b55;
$card-hover-background: color.adjust($card-background, $lightness: 5%);
$card-border: color.adjust($card-background, $lightness: 35%); // #4444c5

$tag-background: #0f142f;

$tiny-text: 0.67rem;
$small-text: 0.75rem;


$frameworks: (
    'react': (330deg),
    'ml': (30deg),
    'container': (290deg),
);

.about_page {
    background-color: $page-background;

    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    .about_wrapper {
        color: $base-color;
        width: 90vw;
        height: 40vw;
        max-width: 1280px;

        display: grid;
        grid-template-columns: repeat(12, 1fr);
        /* 12 flexible columns */
        grid-template-rows: repeat(12, 1fr);
        gap: 1rem;

        .card {
            background-color: $card-background;

            border-color: $card-border;
            border-style: solid;
            border-width: 1px;

            overflow: hidden;

            h3 {
                background-color: $tag-background;
                border: solid;
                border-color: $card-border;
                border-width: 1px;
                border-radius: 10rem;

                font-size: 0.8rem;
                font-weight: 600;

                padding: 0.4rem;
                padding-right: 0.8rem;
                padding-left: 0.8rem;
                margin: 1rem 0rem 0rem 1.25rem;

                width: max-content;
            }
        }

        // .card:hover {
        //     background-color: #222269;
        // }

        .map_wrapper {
            border-radius: 1vw;
            grid-column: span 4;
            grid-row: span 6;

            h3 {
                position: absolute;
                z-index: 1000;
            }

            .location_overlay {
                background-color: green;

                width: 200px;
                height: 200px;
                z-index: 100;
            }

            .leaflet-tile-pane {
                filter: invert(90%) grayscale(100%) sepia(100%) hue-rotate(202deg) saturate(4) contrast(1.2) brightness(1);
            }

            .zoom_button {
                background-color: $card-background;
                border: 2px solid rgba(0, 0, 0, 0.2);
                border-color: $card-border;
                border-radius: 50%;

                bottom: 10px;
                color: $base-color;
                cursor: pointer;

                font-size: 1rem;
                font-weight: bold;
                position: absolute;

                width: 3rem;
                height: 3rem;
                z-index: 1000;

                transform: scale(1);
                transition: transform 0.3s ease;
            }

            .zoom_out {
                left: 10px;
            }

            .zoom_in {
                right: 10px;
            }

            .hidden {
                transform: scale(0);
                pointer-events: none;
            }
        }

        .frameworks_wrapper {
            border-radius: 1vw;

            grid-column: span 8;
            grid-row: span 4;

            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            >.header {
                margin: 1rem 1.25rem 0rem 1.25rem;
                display: flex;
                align-items: center;
                gap: 1rem;

                h3 {
                    margin: 0;
                }

                .subheader {
                    font-size: $small-text;

                    display: flex;
                    align-items: end;

                    p {
                        color: $secondary-text-color;
                        line-height: 0.8;
                    }

                    svg {
                        fill: $secondary-text-color;
                        height: 1rem;
                    }
                }
            }

            .frameworks {
                margin: 0rem 1.25rem 0rem 1.25rem;

                flex: 1;
                display: flex;
                // align-items: center;
                gap: 0.5rem;

                .framework {
                    position: relative;
                    z-index: 1;

                    border-radius: 1rem;
                    padding: 0.5rem;
                    height: fit-content;

                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    gap: 0.5rem;

                    .header {
                        display: grid;
                        grid-template-columns: auto 1fr;
                        gap: 0.5rem;

                        .logo {
                            position: relative;
                            aspect-ratio: 1 / 1;
                            flex-shrink: 0;

                            img {
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                            }
                        }

                        .info {
                            display: flex;
                            flex-direction: column;
                            flex: 1;
                            gap: 0.25rem;

                            p {
                                background-color: color.adjust($card-background, $lightness: 25%);
                                border-radius: 0.5rem;
                                color: color.adjust($card-border, $lightness: 25%);
                                font-size: $tiny-text;
                                padding: 0.25rem 0.5rem;

                                width: fit-content;
                            }
                        }
                    }

                    .description {
                        opacity: 0;
                        max-height: 0;
                        overflow: hidden;
                        transition: opacity 0.5s 0.1s, max-height 0.2s;

                        p {
                            color: $secondary-text-color;
                            font-size: $small-text;
                        }
                    }

                    .footer {
                        color: $secondary-text-color;
                        fill: $secondary-text-color;

                        display: flex;
                        justify-content: space-between;

                        .date,
                        .stars,
                        .language {
                            display: flex;

                            svg {
                                height: $tiny-text;
                            }

                            p {
                                font-size: $tiny-text;
                                line-height: 1;
                            }
                        }

                        .language {
                            svg {
                                transform: scaleX(-1);
                            }
                        }

                        .divider {
                            width: 1px;
                            background-color: $secondary-text-color;
                        }
                    }
                }

                .framework:hover {
                    .description {
                        opacity: 1;
                        max-height: 3rem;
                    }
                }

                @each $name, $values in $frameworks {
                    $hue: list.nth($values, 1);

                    .#{$name} {
                        background:
                            linear-gradient(rgba(color.adjust($card-background, $hue: $hue), 0.67), $card-background) padding-box,
                            linear-gradient(to bottom right, color.adjust($card-border, $hue: $hue), $card-border) border-box;
                        border: 1px solid transparent;
                        border-radius: 1rem;

                        &::before {
                            content: "";
                            position: absolute;

                            top: -1px;
                            right: -1px;
                            bottom: -1px;
                            left: -1px;

                            border-radius: inherit;
                            border: 1px solid transparent;

                            z-index: -1;

                            background:
                                linear-gradient(rgba(color.adjust($card-background, $hue: $hue), 0.33), $card-background) padding-box,
                                linear-gradient(to bottom right, color.adjust($card-border, $hue: $hue), $card-border) border-box;

                            opacity: 0;
                            transition: opacity 0.5s;
                        }

                        &:hover::before {
                            opacity: 1;
                        }

                        .header .info p {
                            filter: hue-rotate(#{$hue});
                        }
                    }
                }
            }

            .footnote {
                margin: 0rem 1.25rem 1rem 1.25rem;
                display: flex;
                justify-content: center;

                p {
                    color: $secondary-text-color;
                    font-size: $small-text;
                }

                svg {
                    stroke: $secondary-text-color;
                    height: 1rem;
                }
            }
        }

        .call_to_action_wrapper {
            border-radius: 1vw;

            grid-column: span 2;
            grid-row: span 2;

            button {
                background-color: white;
                border-radius: 1vw;
                border-style: none;
            }
        }

        .typing_speed_wrapper {
            color: inherit;
            text-decoration: none;
            cursor: pointer;
            outline: none;
            position: relative;

            border-radius: 1vw;

            transition: background-color 0.2s;

            grid-column: span 2;
            grid-row: span 3;

            .background_typing_speed {
                background-color: red;
                line-height: 0.8;

                display: flex;
                justify-content: center;
                align-items: center;

                p {
                    font-family: 'Fustat', sans-serif;
                    font-size: 10rem;
                    font-weight: 500;
                    position: absolute;
                }
            }

            .typing_info {
                display: flex;
                flex-wrap: wrap;
                gap: 0.5rem;

                position: absolute;
                left: 1.25rem;
                bottom: 1.25rem;

                .typing_speed {
                    line-height: 0.8;

                    width: 100%;

                    p {
                        font-family: 'Fustat', sans-serif;
                        font-size: 4rem;
                        font-weight: 500;
                    }

                    .small {
                        font-size: 1.5rem;
                    }
                }

                .typing_stats {
                    line-height: 0.8;

                    p {
                        font-size: 1.25rem;
                    }

                    .wpm_symbol {
                        font-size: 1rem;
                        color: $card-border;
                    }
                }
            }
        }

        .typing_speed_wrapper:hover {
            background-color: $card-hover-background;
            cursor: pointer;

            transition: background-color 0.2s;
        }

        .youtube_music_wrapper {
            color: inherit;
            text-decoration: none;
            cursor: pointer;
            outline: none;

            border-radius: 1vw;

            transition: background-color 0.2s;

            grid-column: span 4;
            grid-row: span 3;

            position: relative;

            display: flex;

            .youtube_header {
                line-height: 0;
                padding: 0.35rem;

                position: absolute;
                margin: 0;
                top: 1rem;
                right: 1.25rem;

                transition: color 0.2s;
            }

            .youtube_content {
                padding: 1.5rem 1rem 1.5rem 1.5rem;
                width: 100%;

                display: flex;
                align-items: stretch;

                .album_art {
                    img {
                        aspect-ratio: 1;
                        border-radius: 1rem;
                        object-fit: cover;
                        object-position: center;
                        width: 100%;
                        height: 100%;
                        transform: scale(1.001);
                    }
                }

                .song_info {
                    height: 100%;
                    font-weight: 500;
                    flex: 1;
                    min-width: 0;

                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    padding: 1.5rem 0rem 1.5rem 1.5rem;

                    p {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    p:nth-child(1),
                    p:nth-child(3) {
                        color: $secondary-text-color;
                        font-size: 1rem;
                    }

                    p:nth-child(2) {
                        font-size: 1.25rem;
                    }
                }
            }
        }

        .youtube_music_wrapper:hover {
            background-color: $card-hover-background;
            cursor: pointer;

            transition: background-color 0.25s;

            .youtube_header {
                color: #f5033d;

                transition: color 0.2s;
            }
        }

        .languages_wrapper {
            border-radius: 1vw;

            grid-column: span 6;
            grid-row: span 6;

            .languages {
                margin: 1rem 0.5rem 1rem 1.25rem;
                height: calc(100% - 6rem);

                display: flex;
                justify-content: space-between;
                align-items: stretch;
                gap: 1rem;

                .col {
                    width: 50%;

                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    .language {
                        display: flex;
                        gap: 1rem;

                        .logo {
                            position: relative;
                            aspect-ratio: 1 / 1;
                            flex-shrink: 0;

                            img {
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                            }
                        }

                        .main_section {
                            flex: 1;
                            display: flex;
                            flex-direction: column;
                            gap: 0.5rem;

                            .skill_segments {
                                gap: 1px;
                                height: 0.5rem;
                                display: flex;

                                .segment {
                                    flex: 1;
                                    border-radius: 1rem;
                                    background-color: $page-background;
                                    position: relative;
                                    overflow: hidden;
                                    transition: 0.25s ease;
                                }

                                .segment.filled {
                                    box-shadow: 0 0 6px $card-border;
                                }

                                .segment.partial::before {
                                    content: "";
                                    position: absolute;
                                    height: 100%;
                                    width: var(--fill);
                                }

                                .filled,
                                .partial::before {
                                    background-color: $card-border;
                                }
                            }
                        }

                        .skill_key {
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            p {
                                flex: 1;

                                background-color: rgba($card-background, 0.5);
                                border: 1px solid rgba($card-border, 0.5);
                                border-radius: 4px;
                                color: $card-border;
                                filter: brightness(2);
                                font-size: $tiny-text;
                                padding: 0.25rem 0.25rem;
                                text-align: center;

                                height: fit-content;
                            }

                            .expert {
                                filter: brightness(2) hue-rotate(140deg);
                            }

                            .advanced {
                                filter: brightness(2) hue-rotate(30deg)
                            }

                            .proficient {
                                filter: brightness(2) hue-rotate(330deg)
                            }

                            .learning {
                                filter: brightness(2) hue-rotate(220deg)
                            }
                        }
                    }

                    .language:hover {

                        .segment.filled,
                        .segment.partial {
                            filter: brightness(1.5);
                        }
                    }
                }
            }
        }

        .github_commits_wrapper {
            border-radius: 1vw;

            grid-column: span 6;
            grid-row: span 5;

            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            .stats {
                margin: 0rem 1.25rem;
                display: flex;
                gap: 1rem;

                .main_count {
                    color: $card-border;
                    // text-shadow: 0 0 3px $card-border;
                    font-family: 'Fustat', sans-serif;
                    font-size: 2rem;
                    font-weight: 1000;
                    line-height: 1;
                }

                h4 {
                    color: $secondary-text-color;
                    font-size: 1rem;
                    line-height: 1;
                }

                .contribution_count {
                    .main_count {
                        filter: brightness(3) hue-rotate(250deg) saturate(4);
                    }

                    .sparkline-wrapper {
                        margin-top: 0.5rem;

                        display: flex;
                        align-items: center;
                        gap: 0.25rem;

                        p {
                            color: $card-border;
                            font-size: $tiny-text;

                            filter: brightness(3) hue-rotate(250deg) saturate(4);
                        }

                        svg {
                            // width: 100px;
                            width: 50px;
                            overflow: visible;
                        }

                        .sparkline-stroke {
                            stroke: $card-border;
                            stroke-width: 2.5px;
                            stroke-linecap: round;
                            fill: none;

                            filter: drop-shadow(0px -2px 3px $card-border) brightness(3) hue-rotate(250deg) saturate(4);
                        }

                        .sparkline-fill {
                            fill: url(#wave-fade);
                            filter: brightness(3) hue-rotate(250deg) saturate(4) blur(2px);
                        }

                        .fade-top {
                            stop-color: $card-border;
                            stop-opacity: 0.5;
                        }

                        .fade-bottom {
                            stop-color: $card-border;
                            stop-opacity: 0;
                        }
                    }
                }

                .repository_count {
                    border-left: 1px solid $card-border;
                    border-right: 1px solid $card-border;
                    padding: 0rem 2rem;

                    // flex: 1;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .main_count {
                        filter: brightness(2.5) saturate(10);
                    }

                    h4 {
                        font-size: 1rem;
                    }
                }

                .language_usages {
                    flex: 1;

                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;

                    h4 {
                        font-size: $small-text;
                    }

                    .languages {
                        background-color: $card-hover-background;
                        border: 1px solid $card-border;
                        border-radius: $small-text;
                        padding: 0.25rem 0.5rem;

                        display: flex;
                        flex-direction: column;
                        gap: 0.125rem;

                        p {
                            font-size: $small-text;
                        }

                        .language {
                            line-height: 1;
                            width: 100%;
                            display: flex;
                            justify-content: space-between;

                            .language_name {
                                display: flex;

                                svg {
                                    height: $small-text;
                                    fill: $card-border;
                                }
                            }
                        }

                        .python svg {
                            filter: brightness(2) hue-rotate(250deg);
                        }

                        .lua svg {
                            filter: brightness(1.5) hue-rotate(350deg);
                        }

                        .javascript svg {
                            filter: brightness(2) hue-rotate(180deg);
                        }
                    }
                }
            }

            .repositories {
                margin: 0 1.25rem 0rem 1.25rem;

                display: flex;
                flex-direction: column;
                // gap: 0.25rem;

                h4 {
                    color: $secondary-text-color;
                    font-size: $small-text;
                    // line-height: 1;
                }

                .repository_cards {
                    border: 1px solid $card-border;
                    border-radius: 1rem;
                    
                    display: flex;
                    flex-direction: column;

                    .repository {
                        border-bottom: 1px solid $card-border;
                        padding: 0.125rem 1rem 0.125rem 0.5rem;

                        display: flex;
                        justify-content: space-between;

                        .left {
                            display: flex;
                            gap: 0.17rem;

                            .repo_icon {
                                position: relative;
                                aspect-ratio: 1 / 1;
                                flex-shrink: 0;

                                svg {
                                    fill: $base-color;
                                    padding: 0.33rem;
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    width: 100%;
                                    height: 100%;
                                }
                            }

                            .title-description {
                                display: flex;
                                flex-direction: column;

                                h4 {
                                    color: $base-color;
                                    font-size: $small-text;
                                }

                                p {
                                    color: $secondary-text-color;
                                    font-size: $tiny-text;
                                }
                            }
                        }

                        .right {
                            display: flex;
                            align-items: center;

                            svg {
                                fill: $card-border;
                                height: $small-text;
                            }

                            p {
                                font-size: $tiny-text;
                            }

                            .scss svg {
                                fill: #ce5b95;
                            }
                            .lua svg {
                                filter: brightness(1.5) hue-rotate(350deg);
                            }
                            .javascript svg {
                                fill: #f8e060;
                            }
                            .python svg {
                                fill: #3071a7;
                            }
                        }
                    }

                    .repository:last-child{
                        border: none;
                    }
                }
            }
        }
    }
}