/* 
===========================
       Color Palette       
===========================

Darker blue:        #0d2b45
Lighter blue:       #203c56
Darker purple:      #544e68
Lighter purple:     #8d697a
Desaturated orange: #d08159
Golden orange:      #ffaa5e
Tan:                #ffd4a3
Cream:              #ffecd6 

*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: 'Switzer', sans-serif;
}

html {
    background-color: #f7f7f9;
}

.page_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}