.landing_page {
    // background-color: red;
    max-width: 1280px;
    height: 100vh;

    .background_images_wrapper {
        // background-color: red;
        position: absolute;

        .journal {
            margin-top: 30vh;
            position: absolute;
            rotate: -60deg;

            width: 8vw;
            height: 8vw;
        }

        .laptop {
            margin-left: 6vw;
            margin-top: 2vh;
            position: absolute;
            rotate: -30deg;

            width: 12vw;
            height: 12vw;
        }

        .headphones {
            margin-left: 20vw;
            margin-top: 2vh;
            position: absolute;

            width: 8vw;
            height: 8vw;
        }

        .mac {
            margin-left: 40vw;
            margin-top: 5vh;
            position: absolute;
            rotate: 30deg;

            width: 30vw;
            height: 20vw;
        }

        .pen {
            margin-left: 55vw;
            margin-top: 35vh;
            position: absolute;
            rotate: 60deg;

            width: 4vw;
            height: 4vw;
        }
    }

    .profile_picture_wrapper {
        // background-color: blue;
        padding-top: 20vh;
        padding-bottom: 5vh;
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        img {
            border-radius: 50%;
            height: 12.5vw;
            width: 12.5vw;

            object-fit: cover;

            outline-color: black;
            outline-style: solid;
            outline-width: calc(0.25vw + 0.25vh);
        }
    }

    .contact_links_wrapper {
        // background-color: red;

        .image_button {
            padding: 2px;

            font-size: 2rem;
        }


        .call_to_action {
            padding: 5px;
            width: 10rem;
            height: 2rem;
        }

        svg {
            width: 100%;
            height: 100%;
        }
    }

    .introduction {
        // background-color: red;

        font-size: 3rem;

        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        header {
            padding-bottom: 24px;
            h1 {
                font-size: 1em;
                text-align: center;
                width: 100%;
            }
        }

        p {
            font-size: 0.5em;
            text-align: center;

            width: 80%;
        }
    }
}